.hero{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: $footer-bcg-color;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero/hero-480.jpg);
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    background-image:
    linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/tablet/hero/hero-768.jpg);
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desktop/hero/hero-1600.jpg);
    height: 600px;
  }
}


.hero__title {
  font-family: $font-roboto;
  margin-bottom: 30px;
  margin-top: 0;

  @media screen and (max-width: $max-tablet) {
    @include font-data(26px, $white-color, 900, 1.61, 0.06em);
  }

  @media screen and (min-width: $desktop) {
    @include font-data(44px, $white-color, 900, 1.36, 0.06em);
  }
}

.section__hero{
  @media screen and (max-width: $max-tablet) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}


.order__button {
  display: inline-block;
  @include button(10px, 32px, $primary-blue-color, $white-color);
  @include font-data(16px, $white-color, 700, 1.87, 0.06em);
}