$white-color: #FFFFFF;
$section-bcg: #F5F4FA;
$footer-bcg-color: #2F303A;
$social-footer: rgba(255, 255, 255, 0.1);
$bcg-card: rgba(33, 150, 243, 0.9);
$activity-bcg: rgba(47, 48, 58, 0.8);
$title-text-color: #212121;
$dark-logo-color: #000000;
$primary-text-color: #757575;
$primary-blue-color: #2196F3;
$button-color: #188CE8;
$border-header: #ECECEC;
$border-color: #EEEEEE;
$clients-color: #AFB1B8;
$form-placeholder-color:rgba(117, 117, 117, 0.5);
$form-border-color: rgba(33, 33, 33, 0.2);
$text-footer: rgba(255, 255, 255, 0.6);
$border-form-footer: rgba(255, 255, 255, 0.3);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-roboto: "Roboto", sans-serif;
$font-raleway: "Raleway", sans-serif;

// $primary-color: #ffffff;
// $primery-text-color: #212121;
// $secondary-text-color: #757575;
// $bcg-color: #2196f3;
// $footer-text-color: rgba(255, 255, 255, 0.6);
// $footer-hero-bcg-color: #2f303a;
// $bcg-outteam-button-color: #f5f4fa;
// $icon-client-logo: #afb1b8;
$border-color: #eeeeee;
// $container: #000000;
// $placeholder-color: rgba(117, 117, 117, 0.5);
